// FONTS
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratBlack.eot');
    src: url('../fonts/MontserratBlack.eot') format('embedded-opentype'),
         url('../fonts/MontserratBlack.woff2') format('woff2'),
         url('../fonts/MontserratBlack.woff') format('woff'),
         url('../fonts/MontserratBlack.ttf') format('truetype'),
         url('../fonts/MontserratBlack.svg#MontserratBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
    src: url('../fonts/MontserratExtraBold.eot');
    src: url('../fonts/MontserratExtraBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratExtraBold.woff2') format('woff2'),
         url('../fonts/MontserratExtraBold.woff') format('woff'),
         url('../fonts/MontserratExtraBold.ttf') format('truetype'),
         url('../fonts/MontserratExtraBold.svg#MontserratExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratBold.eot');
    src: url('../fonts/MontserratBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratBold.woff2') format('woff2'),
         url('../fonts/MontserratBold.woff') format('woff'),
         url('../fonts/MontserratBold.ttf') format('truetype'),
         url('../fonts/MontserratBold.svg#MontserratBold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratSemiBold.eot');
    src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratSemiBold.woff2') format('woff2'),
         url('../fonts/MontserratSemiBold.woff') format('woff'),
         url('../fonts/MontserratSemiBold.ttf') format('truetype'),
         url('../fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratMedium.eot');
    src: url('../fonts/MontserratMedium.eot') format('embedded-opentype'),
         url('../fonts/MontserratMedium.woff2') format('woff2'),
         url('../fonts/MontserratMedium.woff') format('woff'),
         url('../fonts/MontserratMedium.ttf') format('truetype'),
         url('../fonts/MontserratMedium.svg#MontserratMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratRegular.eot');
    src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('../fonts/MontserratRegular.woff2') format('woff2'),
         url('../fonts/MontserratRegular.woff') format('woff'),
         url('../fonts/MontserratRegular.ttf') format('truetype'),
         url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratLight.eot');
    src: url('../fonts/MontserratLight.eot') format('embedded-opentype'),
         url('../fonts/MontserratLight.woff2') format('woff2'),
         url('../fonts/MontserratLight.woff') format('woff'),
         url('../fonts/MontserratLight.ttf') format('truetype'),
         url('../fonts/MontserratLight.svg#MontserratLight') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-BoldItalic.eot');
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
        url('../fonts/Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter-BoldItalic.woff') format('woff'),
        url('../fonts/Inter-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-MediumItalic.eot');
    src: local('Inter Medium Italic'), local('Inter-MediumItalic'),
        url('../fonts/Inter-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter-MediumItalic.woff') format('woff'),
        url('../fonts/Inter-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ThinItalicBETA.eot');
    src: local('Inter Thin Italic BETA'), local('Inter-ThinItalicBETA'),
        url('../fonts/Inter-ThinItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ThinItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter-ThinItalicBETA.woff') format('woff'),
        url('../fonts/Inter-ThinItalicBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.eot');
    src: local('Inter Black'), local('Inter-Black'),
        url('../fonts/Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Black.woff2') format('woff2'),
        url('../fonts/Inter-Black.woff') format('woff'),
        url('../fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-BlackItalic.eot');
    src: local('Inter Black Italic'), local('Inter-BlackItalic'),
        url('../fonts/Inter-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter-BlackItalic.woff') format('woff'),
        url('../fonts/Inter-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-LightBETA.eot');
    src: local('Inter Light BETA'), local('Inter-LightBETA'),
        url('../fonts/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-LightBETA.woff2') format('woff2'),
        url('../fonts/Inter-LightBETA.woff') format('woff'),
        url('../fonts/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff'),
        url('../fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBoldItalic.eot');
    src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
        url('../fonts/Inter-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Inter-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLightItalicBETA.eot');
    src: local('Inter Extra Light Italic BETA'), local('Inter-ExtraLightItalicBETA'),
        url('../fonts/Inter-ExtraLightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter-ExtraLightItalicBETA.woff') format('woff'),
        url('../fonts/Inter-ExtraLightItalicBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLightBETA.eot');
    src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
        url('../fonts/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../fonts/Inter-ExtraLightBETA.woff') format('woff'),
        url('../fonts/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBold.eot');
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
        url('../fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff'),
        url('../fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ThinBETA.eot');
    src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
        url('../fonts/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ThinBETA.woff2') format('woff2'),
        url('../fonts/Inter-ThinBETA.woff') format('woff'),
        url('../fonts/Inter-ThinBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-LightItalicBETA.eot');
    src: local('Inter Light Italic BETA'), local('Inter-LightItalicBETA'),
        url('../fonts/Inter-LightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-LightItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter-LightItalicBETA.woff') format('woff'),
        url('../fonts/Inter-LightItalicBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic.eot');
    src: local('Inter Italic'), local('Inter-Italic'),
        url('../fonts/Inter-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Italic.woff2') format('woff2'),
        url('../fonts/Inter-Italic.woff') format('woff'),
        url('../fonts/Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBoldItalic.eot');
    src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
        url('../fonts/Inter-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Inter-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff'),
        url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// BASE STYLES

$first-font-family: "Montserrat";
$second-font-family: "Inter";
$page-font-size: 14px;
$white: #fff;
$beige: #FBF9F6;
$blue: #00ADEF;
$orange: #FF7900;
$orange-hover: #ff6600;
$brown: #9C8679;
$gray-1: #888888;
$gray-2: #C4C4C4;
$black: #000;

body {
    font-family: $first-font-family;
    font-size: $page-font-size;
    line-height: 140%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

h1, h2, h3, h4, h5, h6 , p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}

* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    height: inherit;
}

.white-bg {
    background: $white;
}
.color-blue {
    color: $blue;
}
.no-scroll {
    overflow: hidden;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin nav-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
@mixin link-transition {
    text-decoration: none;
    transition: .3s linear;
}
@mixin list-style-none {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
@mixin page-btn {
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 24px 34px;
    border-radius: 60px;
    color: $white;
    background: $orange;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    &:hover {
        background: $orange-hover;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }
}

// HEADER

.header {
    padding: 24px 0 36px;
}
.header__inner {
    @include space-between;
}
.logo {
    img {
        width: 100%;
        height: auto;
    }
}
.page-nav {
    width: 100%;
    max-width: 288px;
}
.page-nav__list {
    @include space-between;
    @include list-style-none;
}
.page-nav__link {
    @include link-transition;
    @include nav-link;
    color: $gray-1;
    &:hover {
        color: $black;
    }
}
.contacts {
    @include space-between;
    width: 100%;
    max-width: 505px;
}
.contacts__item {
    display: flex;
    align-items: center;
    font-family: $second-font-family;
}
.contacts__icon {
    position: relative;
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
    border-radius: 50%;
    margin-right: 15px;
    background: $white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.contacts__title {
    font-weight: bold;
    margin-bottom: 3px;
}
.contacts__text {
    color: $gray-1;
    line-height: 17px;
}

.header__contacts {
    .phone-link {
        @include link-transition;
        color: $black;
        &:hover {
            color: $blue;
        }
    }
    .callback-link {
        @include link-transition;
        color: $blue;
        border-bottom: 1px dashed $blue;
    }
}

// INTRO

.intro-tabs {
    position: relative;
}
.intro-tabs__wrapper {
    position: relative;
}
.intro-tabs__nav {
    position: absolute;
    top: 58px;
    right: 0;
    max-height: 361px;
    overflow-y: hidden;
    z-index: 5;
}
.intro-tabs__header-swiper {
    height: 361px;
    .swiper-slide {
        position: relative;
        width: 150px;
        max-height: 105px;
    }
}
.intro-tabs__link {
    @include link-transition;
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    overflow: hidden;
    &:hover {
        border: 3px solid $blue;
    }
    .intro-tabs__thumb {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.swiper-btn {
    position: absolute;
    width: 26px;
    height: 26px;
    background: $brown;
    border-radius: 50%;
    cursor: pointer;
    z-index: 7;
    transition: .3s linear;
    &:hover {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
    }
    .swiper-btn__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.swiper-button-disabled {
    background: $white;
    path {
        stroke: $brown;
    }
}
.intro-tabs__wrapper {
    .intro-tabs-prev {
        top: 45px;
        right: 62px;
        svg {
            transform: scale(-1) translate(50%, 50%);
        }
    }
    .intro-tabs-next {
        top: 405px;
        right: 62px;
    }
}

.intro-tabs__content {
    position: relative;
    .tabs__pane {
        position: relative;
        height: 613.5px;
        .tabs__pane-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .tabs__pane-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(299.52deg, rgba(0, 0, 0, 0.2) 19.54%, rgba(0, 0, 0, 0) 58.97%),
            linear-gradient(360deg, rgba(0, 0, 0, 0.8) -4.02%, rgba(0, 0, 0, 0) 100%);
        }
    }
}
.tabs__content {
    .tabs__pane {
        display: none;
        opacity: 0;
        transition: .3s linear;
        &.tabs__pane_fade {
            display: block;
        }
        &.tabs__pane_show {
            opacity: 1;
        }
    }
}
.tabs__pane-content {
    padding: 55px 0 175px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: .7s linear;
}
.page-title {
    font-weight: 800;
    font-size: 46px;
    line-height: 56px;
    color: $white;
    max-width: 407px;
    margin-bottom: 10px;
}
.page-subtitle {
    position: relative;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 54px;
    color: $gray-2;
    &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        display: block;
        width: 70px;
        height: 3px;
        background: $blue;
    }
}
.info-list {
    display: flex;
    flex-direction: column;
}
.info-list__item {
    display: flex;
    max-width: 273px;
    font-family: $second-font-family;
    font-size: 20px;
    line-height: 26px;
    color: $white;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    .white-bg {
        color: $black;
        padding: 0 10px;
        font-size: 16px;
        line-height: 26px;
        border-radius: 3px;
    }
    .color-blue {
        font-weight: bold;
    }
    p {
        min-width: 113px;
    }
}
.tabs__pane-btn {
    margin-top: auto;
}
.page-btn__link {
    @include link-transition;
    @include page-btn;
}

// ABOUT

.about {
    padding: 190px 0 130px;
}
.about__inner {
    position: relative;
}
.numbers {
    position: absolute;
    top: -301px;
    width: 100%;
    padding: 42px 66px 42px 91px;
    background: $beige;
    border-radius: 10px;
}
.numbers__list {
    @include space-between;
}
.numbers__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.numbers__text {
    font-family: $second-font-family;
    font-size: 16px;
    line-height: 19px;
    margin-top: 22px;
    margin-bottom: 2px;
}
.numbers__num {
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    color: $blue;
}

.section-title {
    @include space-between;
    font-weight: 800;
    font-size: 38px;
    line-height: 50px;
}
.section-title__text {
    position: relative;
    font-family: $second-font-family;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 180%;
    max-width: 355px;
    color: #616161;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -30px;
        display: block;
        width: 3px;
        height: 87%;
        background: $brown;
        transform: translateY(-50%);
    }
}
.about__title {
    margin-bottom: 94px;
}
.about__content {
    padding: 44px 43px 56px 47px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.about-tabs__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.about-tabs__nav-item {
    display: flex;
    align-items: center;
    svg {
        margin-right: 15px;
    }
}
.about-tabs__link {
    @include link-transition;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $gray-1;
    padding-bottom: 13px;
    border-bottom: 3px solid transparent;
    path,
    .about-tabs__nav-text {
        transition: .3s linear;
    }
    &:hover {
        path {
            fill: $brown;
        }
        .about-tabs__nav-text {
            color: $black;
        }
    }
}
.about-tabs__nav {
    .tabs__link_active {
        border-bottom: 3px solid $blue;
        path {
            fill: $brown;
        }
        .about-tabs__nav-text {
            color: $black;
        }
    }
}
.about-tabs__content {
    position: relative;
    .tabs__pane {
        &.tabs__pane_fade {
            display: flex;
        }
    }
    .swiper-btn {
        position: absolute;
        top: 199px;
        width: 46px;
        height: 46px;
    }
    .about-tabs-next {
        left: 466px;
    }
    .about-tabs-prev {
        left: -23px;
        svg {
            transform: scale(-1) translate(50%, 50%);
        }
    }
}

.about-tabs__swiper {
    width: 100%;
    max-width: 490px;
    margin: 0;
}
.about-tabs__content {
    padding-top: 53px;
    @include space-between;
}
.about-tabs__info {
    max-width: 405px;
}
.about-tabs__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 14px;
}
.about-tabs__subtitle {
    font-family: $second-font-family;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 24px;
}
.about-tabs__text {
    font-family: $second-font-family;
    line-height: 180%;
    color: #616161;
}

// FOOTER

.footer-top {
    padding: 44px 0 39px;
    background: $brown;
}
.footer-top__inner {
    @include space-between;
    align-items: flex-start;
}
.footer__logo {
    font-family: $second-font-family;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: $white;
}
.footer-top__contacts {
    flex-direction: column;
    align-items: flex-start;
    max-width: none;
    width: auto;
    .contacts__item {
        max-width: 186px;
        margin-bottom: 28px;
        .contacts__title {
            color: $white;
        }
        .contacts__text {
            color: $white;
        }
        .phone-link,
        .callback-link {
            @include link-transition;
            color: $white;
        }
        .phone-link {
            &:hover {
                color: $orange;
            }
        }
        .callback-link {
            border-bottom: 1px dashed $white;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.footer-top__nav-list {
    @include list-style-none;
}
.footer-top__nav-item {
    margin-bottom: 17px;
    &:last-child {
        margin-bottom: 0;
    }
}
.footer-top__nav-link {
    @include link-transition;
    @include nav-link;
    font-weight: 600;
    color: $white;
    &:hover {
        color: $orange;
    }
}

.footer-bottom {
    padding: 20px 0 19px;
    background: $beige;
}
.footer-bottom__inner {
    @include space-between;
}
.footer-bottom__copyright {
    font-size: 13px;
    line-height: 16px;
    color: $brown;
}
.socials-list {
    display: flex;
    align-items: center;
    .contacts__icon {
        min-width: 32px;
        min-height: 32px;
        margin-right: 0;
        transition: .3s linear;
        box-shadow: none;
        &:hover {
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
        }
    }
} 
.socials-list__item {
    margin-right: 9px;
    &:last-child {
        margin-right: 0;
    }
}



    