@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratBlack.eot");
  src: url("../fonts/MontserratBlack.eot") format("embedded-opentype"), url("../fonts/MontserratBlack.woff2") format("woff2"), url("../fonts/MontserratBlack.woff") format("woff"), url("../fonts/MontserratBlack.ttf") format("truetype"), url("../fonts/MontserratBlack.svg#MontserratBlack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratExtraBold.eot");
  src: url("../fonts/MontserratExtraBold.eot") format("embedded-opentype"), url("../fonts/MontserratExtraBold.woff2") format("woff2"), url("../fonts/MontserratExtraBold.woff") format("woff"), url("../fonts/MontserratExtraBold.ttf") format("truetype"), url("../fonts/MontserratExtraBold.svg#MontserratExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratBold.eot");
  src: url("../fonts/MontserratBold.eot") format("embedded-opentype"), url("../fonts/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold.woff") format("woff"), url("../fonts/MontserratBold.ttf") format("truetype"), url("../fonts/MontserratBold.svg#MontserratBold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratSemiBold.eot");
  src: url("../fonts/MontserratSemiBold.eot") format("embedded-opentype"), url("../fonts/MontserratSemiBold.woff2") format("woff2"), url("../fonts/MontserratSemiBold.woff") format("woff"), url("../fonts/MontserratSemiBold.ttf") format("truetype"), url("../fonts/MontserratSemiBold.svg#MontserratSemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratMedium.eot");
  src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff"), url("../fonts/MontserratMedium.ttf") format("truetype"), url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratRegular.eot");
  src: url("../fonts/MontserratRegular.eot") format("embedded-opentype"), url("../fonts/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular.woff") format("woff"), url("../fonts/MontserratRegular.ttf") format("truetype"), url("../fonts/MontserratRegular.svg#MontserratRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/MontserratLight.eot");
  src: url("../fonts/MontserratLight.eot") format("embedded-opentype"), url("../fonts/MontserratLight.woff2") format("woff2"), url("../fonts/MontserratLight.woff") format("woff"), url("../fonts/MontserratLight.ttf") format("truetype"), url("../fonts/MontserratLight.svg#MontserratLight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-BoldItalic.eot");
  src: local("Inter Bold Italic"), local("Inter-BoldItalic"), url("../fonts/Inter-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-BoldItalic.woff2") format("woff2"), url("../fonts/Inter-BoldItalic.woff") format("woff"), url("../fonts/Inter-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-MediumItalic.eot");
  src: local("Inter Medium Italic"), local("Inter-MediumItalic"), url("../fonts/Inter-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-MediumItalic.woff2") format("woff2"), url("../fonts/Inter-MediumItalic.woff") format("woff"), url("../fonts/Inter-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-ThinItalicBETA.eot");
  src: local("Inter Thin Italic BETA"), local("Inter-ThinItalicBETA"), url("../fonts/Inter-ThinItalicBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ThinItalicBETA.woff2") format("woff2"), url("../fonts/Inter-ThinItalicBETA.woff") format("woff"), url("../fonts/Inter-ThinItalicBETA.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Black.eot");
  src: local("Inter Black"), local("Inter-Black"), url("../fonts/Inter-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-BlackItalic.eot");
  src: local("Inter Black Italic"), local("Inter-BlackItalic"), url("../fonts/Inter-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-BlackItalic.woff2") format("woff2"), url("../fonts/Inter-BlackItalic.woff") format("woff"), url("../fonts/Inter-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-LightBETA.eot");
  src: local("Inter Light BETA"), local("Inter-LightBETA"), url("../fonts/Inter-LightBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-LightBETA.woff2") format("woff2"), url("../fonts/Inter-LightBETA.woff") format("woff"), url("../fonts/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-SemiBold.eot");
  src: local("Inter Semi Bold"), local("Inter-SemiBold"), url("../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-ExtraBoldItalic.eot");
  src: local("Inter Extra Bold Italic"), local("Inter-ExtraBoldItalic"), url("../fonts/Inter-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Inter-ExtraBoldItalic.woff") format("woff"), url("../fonts/Inter-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Bold.eot");
  src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-ExtraLightItalicBETA.eot");
  src: local("Inter Extra Light Italic BETA"), local("Inter-ExtraLightItalicBETA"), url("../fonts/Inter-ExtraLightItalicBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ExtraLightItalicBETA.woff2") format("woff2"), url("../fonts/Inter-ExtraLightItalicBETA.woff") format("woff"), url("../fonts/Inter-ExtraLightItalicBETA.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-ExtraLightBETA.eot");
  src: local("Inter Extra Light BETA"), local("Inter-ExtraLightBETA"), url("../fonts/Inter-ExtraLightBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ExtraLightBETA.woff2") format("woff2"), url("../fonts/Inter-ExtraLightBETA.woff") format("woff"), url("../fonts/Inter-ExtraLightBETA.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-ExtraBold.eot");
  src: local("Inter Extra Bold"), local("Inter-ExtraBold"), url("../fonts/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-ThinBETA.eot");
  src: local("Inter Thin BETA"), local("Inter-ThinBETA"), url("../fonts/Inter-ThinBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ThinBETA.woff2") format("woff2"), url("../fonts/Inter-ThinBETA.woff") format("woff"), url("../fonts/Inter-ThinBETA.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-LightItalicBETA.eot");
  src: local("Inter Light Italic BETA"), local("Inter-LightItalicBETA"), url("../fonts/Inter-LightItalicBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-LightItalicBETA.woff2") format("woff2"), url("../fonts/Inter-LightItalicBETA.woff") format("woff"), url("../fonts/Inter-LightItalicBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Italic.eot");
  src: local("Inter Italic"), local("Inter-Italic"), url("../fonts/Inter-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Italic.woff2") format("woff2"), url("../fonts/Inter-Italic.woff") format("woff"), url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-SemiBoldItalic.eot");
  src: local("Inter Semi Bold Italic"), local("Inter-SemiBoldItalic"), url("../fonts/Inter-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Inter-SemiBoldItalic.woff") format("woff"), url("../fonts/Inter-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Medium.eot");
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  height: inherit;
}

.white-bg {
  background: #fff;
}

.color-blue {
  color: #00ADEF;
}

.no-scroll {
  overflow: hidden;
}

.header {
  padding: 24px 0 36px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
}

.page-nav {
  width: 100%;
  max-width: 288px;
}

.page-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.page-nav__link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #888888;
}

.page-nav__link:hover {
  color: #000;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 505px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
}

.contacts__icon {
  position: relative;
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  border-radius: 50%;
  margin-right: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
}

.contacts__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts__title {
  font-weight: bold;
  margin-bottom: 3px;
}

.contacts__text {
  color: #888888;
  line-height: 17px;
}

.header__contacts .phone-link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  color: #000;
}

.header__contacts .phone-link:hover {
  color: #00ADEF;
}

.header__contacts .callback-link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  color: #00ADEF;
  border-bottom: 1px dashed #00ADEF;
}

.intro-tabs {
  position: relative;
}

.intro-tabs__wrapper {
  position: relative;
}

.intro-tabs__nav {
  position: absolute;
  top: 58px;
  right: 0;
  max-height: 361px;
  overflow-y: hidden;
  z-index: 5;
}

.intro-tabs__header-swiper {
  height: 361px;
}

.intro-tabs__header-swiper .swiper-slide {
  position: relative;
  width: 150px;
  max-height: 105px;
}

.intro-tabs__link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  display: block;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

.intro-tabs__link:hover {
  border: 3px solid #00ADEF;
}

.intro-tabs__link .intro-tabs__thumb {
  width: 100%;
  height: 100%;
}

.intro-tabs__link .intro-tabs__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-btn {
  position: absolute;
  width: 26px;
  height: 26px;
  background: #9C8679;
  border-radius: 50%;
  cursor: pointer;
  z-index: 7;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.swiper-btn:hover {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
}

.swiper-btn .swiper-btn__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-btn .swiper-btn__wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-button-disabled {
  background: #fff;
}

.swiper-button-disabled path {
  stroke: #9C8679;
}

.intro-tabs__wrapper .intro-tabs-prev {
  top: 45px;
  right: 62px;
}

.intro-tabs__wrapper .intro-tabs-prev svg {
  -webkit-transform: scale(-1) translate(50%, 50%);
          transform: scale(-1) translate(50%, 50%);
}

.intro-tabs__wrapper .intro-tabs-next {
  top: 405px;
  right: 62px;
}

.intro-tabs__content {
  position: relative;
}

.intro-tabs__content .tabs__pane {
  position: relative;
  height: 613.5px;
}

.intro-tabs__content .tabs__pane .tabs__pane-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.intro-tabs__content .tabs__pane .tabs__pane-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-tabs__content .tabs__pane .tabs__pane-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(299.52deg, rgba(0, 0, 0, 0.2) 19.54%, rgba(0, 0, 0, 0) 58.97%), linear-gradient(360deg, rgba(0, 0, 0, 0.8) -4.02%, rgba(0, 0, 0, 0) 100%);
}

.tabs__content .tabs__pane {
  display: none;
  opacity: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.tabs__content .tabs__pane.tabs__pane_fade {
  display: block;
}

.tabs__content .tabs__pane.tabs__pane_show {
  opacity: 1;
}

.tabs__pane-content {
  padding: 55px 0 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: .7s linear;
  transition: .7s linear;
}

.page-title {
  font-weight: 800;
  font-size: 46px;
  line-height: 56px;
  color: #fff;
  max-width: 407px;
  margin-bottom: 10px;
}

.page-subtitle {
  position: relative;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 54px;
  color: #C4C4C4;
}

.page-subtitle::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  display: block;
  width: 70px;
  height: 3px;
  background: #00ADEF;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 273px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 15px;
}

.info-list__item:last-child {
  margin-bottom: 0;
}

.info-list__item .white-bg {
  color: #000;
  padding: 0 10px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 3px;
}

.info-list__item .color-blue {
  font-weight: bold;
}

.info-list__item p {
  min-width: 113px;
}

.tabs__pane-btn {
  margin-top: 72px;
}

.page-btn__link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  display: inline-block;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 24px 34px;
  border-radius: 60px;
  color: #fff;
  background: #FF7900;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}

.page-btn__link:hover {
  background: #ff6600;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.about {
  padding: 190px 0 130px;
}

.about__inner {
  position: relative;
}

.numbers {
  position: absolute;
  top: -301px;
  width: 100%;
  padding: 42px 66px 42px 91px;
  background: #FBF9F6;
  border-radius: 10px;
}

.numbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers__pic img {
  display: block;
}

.numbers__text {
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  margin-top: 21px;
  margin-bottom: 2px;
}

.numbers__num {
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
  color: #00ADEF;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 38px;
  line-height: 50px;
}

.section-title__text {
  position: relative;
  font-family: "Inter";
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 180%;
  max-width: 355px;
  color: #616161;
}

.section-title__text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  display: block;
  width: 3px;
  height: 87%;
  background: #9C8679;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about__title {
  margin-bottom: 94px;
}

.about__content {
  padding: 44px 43px 56px 47px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.about-tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.about-tabs__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-tabs__nav-item svg {
  margin-right: 15px;
}

.about-tabs__link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #888888;
  padding-bottom: 13px;
  border-bottom: 3px solid transparent;
}

.about-tabs__link path,
.about-tabs__link .about-tabs__nav-text {
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.about-tabs__link:hover path {
  fill: #9C8679;
}

.about-tabs__link:hover .about-tabs__nav-text {
  color: #000;
}

.about-tabs__nav .tabs__link_active {
  border-bottom: 3px solid #00ADEF;
}

.about-tabs__nav .tabs__link_active path {
  fill: #9C8679;
}

.about-tabs__nav .tabs__link_active .about-tabs__nav-text {
  color: #000;
}

.about-tabs__content {
  position: relative;
}

.about-tabs__content .tabs__pane.tabs__pane_fade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-tabs__content .swiper-btn {
  position: absolute;
  top: 199px;
  width: 46px;
  height: 46px;
}

.about-tabs__content .about-tabs-next {
  left: 466px;
}

.about-tabs__content .about-tabs-prev {
  left: -23px;
}

.about-tabs__content .about-tabs-prev svg {
  -webkit-transform: scale(-1) translate(50%, 50%);
          transform: scale(-1) translate(50%, 50%);
}

.about-tabs__swiper {
  width: 100%;
  max-width: 490px;
  margin: 0;
}

.about-tabs__content {
  padding-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-tabs__info {
  max-width: 405px;
}

.about-tabs__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 14px;
}

.about-tabs__subtitle {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
}

.about-tabs__text {
  font-family: "Inter";
  line-height: 180%;
  color: #616161;
}

.request {
  padding: 130px 0;
}

.request__inner {
  position: relative;
  padding: 55px 279px 40px 85px;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
}

.request__inner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.request__inner-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.request__inner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(90.52deg, rgba(58, 65, 93, 0.4) 0.43%, rgba(58, 65, 93, 0) 81.66%);
  z-index: -1;
}

.request__title {
  max-width: 481px;
  margin-bottom: 26px;
}

.request__text {
  font-family: "Inter";
  font-size: 18px;
  line-height: 150%;
  max-width: 408px;
  margin-bottom: 29px;
  color: #E6E6E6;
}

.request__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 372px;
  padding: 8px 24px;
  background: linear-gradient(270.25deg, rgba(255, 255, 255, 0.4) 0.18%, rgba(255, 255, 255, 0) 103.01%);
}

.request-info__pic {
  position: relative;
  width: 100%;
  max-width: 78px;
}

.request-info__pic img {
  width: 100%;
  height: auto;
}

.request-info__pic .request-info__bell {
  position: absolute;
  top: 10px;
  left: -7px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 5px 8px 7px;
  background: #FF7900;
}

.request-info__pic .request-info__bell img {
  width: 100%;
  height: auto;
}

.request-info__text {
  font-weight: bold;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-left: 20px;
}

.request-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.request-circle img {
  display: block;
}

.request-man {
  position: absolute;
  bottom: 0;
  right: 14px;
  z-index: 2;
}

.request-man img {
  display: block;
}

.payment {
  background: #FBF9F6;
  padding: 110px 0 90px;
}

.payment__title {
  margin-bottom: 56px;
}

.payment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 240px;
  padding: 32px 16px 34px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.payment-list__title {
  position: relative;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.payment-list__title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  display: block;
  width: 187px;
  height: 1px;
  background: #00ADEF;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.payment-list__content {
  color: #616161;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}

.payment-list__content-item {
  font-family: "Inter";
  line-height: 140%;
  margin-bottom: 22px;
}

.payment-list__bottom-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3A415D;
  margin-bottom: 24px;
}

.payment-list__btn .page-btn__link {
  border: 1.4px solid #FF7900;
  background: #fff;
  color: #000;
}

.payment-list__btn .page-btn__link:hover {
  background: #FF7900;
  color: #fff;
}

.partners {
  padding: 130px 0;
}

.partners__inner {
  position: relative;
}

.partners__title {
  margin-bottom: 60px;
}

.partners-swiper {
  position: relative;
}

.partners-swiper .swiper-slide {
  height: 110px;
  background: #FBF9F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-swiper .swiper-slide img {
  display: block;
  mix-blend-mode: luminosity;
}

.partners-control-btns .swiper-btn {
  position: absolute;
  top: 116px;
  width: 46px;
  height: 46px;
  z-index: 2;
}

.partners-control-btns .partners-swiper-prev {
  left: -23px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
}

.partners-control-btns .partners-swiper-prev svg {
  -webkit-transform: scale(-1) translate(50%, 50%);
          transform: scale(-1) translate(50%, 50%);
}

.partners-control-btns .partners-swiper-next {
  right: -23px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
}

.documents {
  padding-bottom: 85px;
}

.documents__title {
  margin-bottom: 65px;
}

.documents-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.documents-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}

.documents-list__item .documents-list__icon {
  margin-right: 19px;
}

.documents-list__item .documents-list__icon img {
  display: block;
}

.documents-list__link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  display: block;
  min-width: 231px;
  font-weight: 500;
  color: #9F9F9F;
}

.documents-list__link:hover {
  color: #00ADEF;
  text-decoration: underline;
}

.section-contacts__inner {
  position: relative;
  border-radius: 10px;
  padding: 55px 66px 58px;
  overflow: hidden;
}

.section-contacts-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.section-contacts-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-contacts__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  z-index: -1;
}

.section-contacts__title {
  color: #fff;
  margin-bottom: 46px;
}

.section-contacts__title-text {
  color: #fff;
}

.section-contacts__title-text::before {
  display: none;
}

.section-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 285px;
  height: 160px;
  padding: 26px 21px 29px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.section-contacts__text {
  font-family: "Inter";
  font-weight: 500;
  color: #EFEFEF;
}

.section-contacts__list-title {
  font-weight: bold;
}

.section-contacts__link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  color: #fff;
}

.section-contacts__link:hover {
  color: #00ADEF;
}

.consultation {
  padding: 130px 0 127px;
}

.consultation__title-text {
  font-size: 18px;
  line-height: 150%;
  font-style: normal;
  max-width: 459px;
}

.consultation__title-text::before {
  display: none;
}

.section-title {
  margin-bottom: 36px;
}

.consultation__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultation__form .form-group {
  width: 300px;
}

.consultation__form .form-btn {
  width: 100%;
  max-width: 365px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.consultation__form .page-btn__link {
  display: block;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-label {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 18px;
}

.form-input {
  border: none;
  background: #FBF9F6;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9F9F9F;
  padding: 13px 15px 17px;
  width: 100%;
  border-radius: 10px;
  outline: none;
}

.consultation__form-text {
  font-size: 12px;
  line-height: 15px;
  color: #9F9F9F;
  margin-top: 15px;
}

.footer-top {
  padding: 44px 0 39px;
  background: #9C8679;
}

.footer-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
}

.footer-top__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: none;
  width: auto;
}

.footer-top__contacts .contacts__item {
  max-width: 186px;
  margin-bottom: 28px;
}

.footer-top__contacts .contacts__item .contacts__title {
  color: #fff;
}

.footer-top__contacts .contacts__item .contacts__text {
  color: #fff;
}

.footer-top__contacts .contacts__item .phone-link,
.footer-top__contacts .contacts__item .callback-link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  color: #fff;
}

.footer-top__contacts .contacts__item .phone-link:hover {
  color: #FF7900;
}

.footer-top__contacts .contacts__item .callback-link {
  border-bottom: 1px dashed #fff;
}

.footer-top__contacts .contacts__item:last-child {
  margin-bottom: 0;
}

.footer-top__nav-list {
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.footer-top__nav-item {
  margin-bottom: 17px;
}

.footer-top__nav-item:last-child {
  margin-bottom: 0;
}

.footer-top__nav-link {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.footer-top__nav-link:hover {
  color: #FF7900;
}

.footer-bottom {
  padding: 20px 0 19px;
  background: #FBF9F6;
}

.footer-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__copyright {
  font-size: 13px;
  line-height: 16px;
  color: #9C8679;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-list .contacts__icon {
  min-width: 32px;
  min-height: 32px;
  margin-right: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.socials-list .contacts__icon:hover {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
}

.socials-list__item {
  margin-right: 9px;
}

.socials-list__item:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=main.css.map */